<h2>Login</h2>

<div class="loginContainer">
  <form id="loginForm">
    Email: <input type="text" name="email"><br><br>
    Contraseña: <input type="password" name="password"><br><br>
    <input class="loginBtn" type="submit" value="Iniciar sesión">
  </form>
  <div class="btnRegisterContainer">
    <p>Si no tiene una cuenta:</p>
    <a href="/register">Registrarse</a>
  </div>
  <a href="/recovery-password">Recuperar contraseña</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/login.js"></script>