<h2>LOGIN</h2>

<div class="loginContainer">
  <form id="loginForm">
    Email: <input type="text" name="email">
    Contraseña: <input type="password" name="password">
    <input class="loginBtn" type="submit" value="INICIAR SESIÓN">
    <a class="githubloginbtn" href="/api/session/github">GIT HUB LOGIN</a>
  </form>
  <a class="recoveryPasswordBtn" href="/recovery-password">RECUPERAR CONTRASEÑA</a>
  <div class="btnRegisterContainer">
    <p>Si no tiene una cuenta:</p>
    <a class="registerBtn" href="/register">REGISTRARSE</a>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/login.js"></script>