<header>
  <nav>
    <div class="linksContainer">
      <a class="linkNavbar" href="/profile">Perfil</a>
    </div>
  </nav>
</header>
<div class="adminSectionContainer">
    <h1>ADMIN SECTION</h1>
    <div class="btnContainerAdmin">
        <a class="btnAdminOption" href="/productsManagement">GESTION DE PRODUCTOS</a></a>
        <a class="btnAdminOption" href="/userManagement">GESTION DE USUARIOS</a></a>
    </div>
</div>