<h2>RECUPERAR CONTRASEÑA</h2>

<div class="recoveryContainer">
  <form id="recoveryForm">
    Email: <input type="text" name="email">
    Nueva contraseña: <input type="password" name="recoveryPassword">
    <input class="loginBtn" type="submit" value="RESETEAR CONTRASEÑA">
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/recoveryPassword.js"></script>