<h2>Recuperar contraseña</h2>

<div class="recoveryContainer">
  <form id="recoveryForm">
    Email: <input type="text" name="email"><br><br>
    Nueva contraseña: <input type="password" name="recoveryPassword"><br><br>
    <input class="recoveryBtn" type="submit" value="Resetear contraseña">
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/recoveryPassword.js"></script>