<h2>REGISTER</h2>

<div class="loginContainer">
  <form id="registerForm">
    Nombre: <input type="text" name="name">
    Apellido: <input type="text" name="lastname">
    Email: <input type="text" name="email">
    Edad: <input type="text" name="age">
    Contraseña: <input type="password" name="password">
    <div class="checkboxPremiumContainer">
      <label for="premiumCheckbox">Premium:</label>
      <input type="checkbox" id="premiumCheckbox" name="premium">
    </div>
    <input class="loginBtn" type="submit" value="REGISTRARSE">
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/register.js"></script>